/* boys.html */
@media (max-width:826px) {
    .logo {
        font-size: 163px;
    }
    .welcome {
      width:400px;
      height:112px;
    }
    .well {
      font-size: 52px;
    }

}
@media (max-width: 881px) {
  .none{
    display: none;
  }
  .icon {
    width: 66px;
    height: 66px;
  }
  .one-main {
    max-width: 718px;
    width: 100%;
  }
  .divaider {
      width: 240px;
  }
  .four-icon {
    background-color: #CDCDCD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .small {
    width: 120px;
  }
  .atoy {
    font-size: 49px;
  }
  input[type=search] {
    width: 264px;
    height: 52px;
  }
  .Filter-h1 {
    font-size: 60px;
  }
  .blue {
    font-size: 25px;
  }
  .white {
    font-size: 25px;
  }
  .boys-box-one {
    margin-bottom: 20px;
  }
  .many {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .a.atoy:hover, a.atoy:active {
    font-size: 50px;
  }
  /* girls.html */
  .boys-box-g {
      margin-bottom: 20px;
  }
  /* toys.html */
  .boys-box-toy {
    margin-bottom: 20px;
  }
  .tadtoy {
    background-color: white;
  }
  .bear {
      background-image: url('../image/small.jpg ');
      height: 430px;
  }
  .big-title {
   font-size: 110px;
    margin-top: 145px;
  }
  .icon-box {
    margin-top: 145px;
  }
  .box-icon {
    margin-top: 145px;
  }
  .more-box-one {
    margin-bottom: 85px;
    margin-left: 267px;
  }
  /* all */
  .all-h1 {
    font-size: 50px;
  }
  .boys-box-all {
    margin-bottom: 20px;
  }
  .all-img {
    width: 351px;
  }
  .shop-all {
    justify-content: space-around;
    margin-left: 132px;
  }
  .beach-div {
    width: 718px;
  }
  /* contact */
  form.contact input[type=text] {
    width: 312px;
    height: 50px;
  }
  textarea.con-text {
    width: 312px;
    height: 180px;
  }
  .Con-h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .con-p {
    font-size: 20px;
  }
  button.con-button {
    width: 156px;
    height: 50px;
    margin-bottom: 90px;
    margin-left: 87px;

  }
}
@media (max-width: 648px) {
/* home.html */
  .one-main {
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header-div {
    display: none;
  }
  .tall-wraper {
    display: none;
  }
  .big-title {
      margin-right: 176px;
      font-size: 100px;
  }
  .more-box-one {
    margin-left: 190px;
  }
  .skal {
    max-width: 307px;
  }
}
@media (max-width: 599px) {
  /* home.html */
  .one-main {
    max-width: 500px;
    width: 100%;
  }
  .tall-wraper {
    display: none;
  }
  .tall-wraper {
    display: none;
  }
  .one-main {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .blue {
    font-size: 22px;
  }
  .white {
    font-size: 22px;
  }
  .skal {
    max-width: 263px;
  }

}
@media (max-width: 550px) {
  .big-title {
   margin-right: 226px;
  }
}

@media (max-width: 500px) {
  /* index.html */
  .logo {
    font-size: 120px;
  }
  .welcome {
    width: 330px;
    height: 90px;
  }
  .well {
    font-size: 40px;
  }
}

@media (max-width: 428px) {
  /* index.html */
  .logo {
    font-size: 120px;
  }
  .welcome {
    width: 352px;
  }
  .well {
    font-size: 50px;
  }
}

@media (max-width: 352px) {
  /* index.html */
  .welcome {
    width: 225px;
    height: 65px;
  }
  .well {
    font-size: 25px;
  }
  .logo {
    font-size: 80px;
  }
}

@media (max-width: 332px) {
  /* index.html */
  .welcome {
    width: 250px;
    height: 74px;
  }
  .well {
    font-size: 30px;
  }
  .logo {
    font-size: 90px;
  }
}
