/*1html*/

.one-main {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1088px;
    background-color: white;
}
.header-bg {
    background-image: url('../image/bigtaddy.jpg ');
    width: 100%;
    height: 675px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.logo {
    font-size: 312px;
    text-align: center;
    color:#D95F80;
}
.welcome {
    width: 600px;
    height: 150px;
    border-radius: 80px;
    border-color: 2px solid black;
    background-color: #D95F80;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.well {
    font-size: 80px;
    color: white;
}



/*2html*/
.home-body {
    background-color: #de6e8c;
     display: flex;
    justify-content: center;
}



/*header*/
.header {
    width: 1088px;
    background-color: white;
}
.header-div {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.atoy {
     font-size: 60px;
     color: #D95F80;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #D95F80;
  float: left;
  width:474px;
  height: 60px;
  background: #FAFAFA;
}

form.example button {
  float: left;
width: 318px;
  height: 67px;
  padding: 10px;
  background: #FAFAFA;
  color:  #D95F80;
  font-size: 17px;
  border: 1px solid #D95F80;
}
.fa-cart-plus  {
    color: #D95F80;
    font-size: 30px;
}
.fa-heart {
    color: #D95F80;
    font-size: 30px;
}

.navigation {
    background-color: #D95F80; 
    height: 96px;
}
.nav-ul {
    display: flex;
    justify-content: space-around;
}
.white {
    color: white;
    font-size: 30px;
}
.blue {
    color: #2000FF;
    font-size: 30px;
}
li {
    margin-top: 33px;
}


/*seqtion1*/

.first {
    width: 1088px;
    height: 448px;
    object-fit: cover;
    position: absolute;
}
.wraper-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-box {
    width: 77px;
    height: 75px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 107px;
}
.box-icon {
    width: 77px;
    height: 75px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 107px;

}
.fa-caret-left {
   font-size: 60px;
    color: #D95F80;
}
.fa-caret-right {
     font-size: 60px;
    color: #D95F80;
}
.big-title {
    color: #D95F80;
    font-size: 196px;
    position: relative;
    margin-right: 320px;
    margin-top: 107px
}
.more-box {
    position: relative;
    background-color: #D95F80;
    width: 168px;
    height: 54px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
     margin-top: 60px;
    margin-left: 460px;
}
/*seqtion2*/

.filter-wraper {
    display: flex;
    background-color: white;
    margin-top: 31px;
    justify-content: space-around;
}
.Filter-h1 {
    font-size: 70px;
}
.filter-child {
    width: 400px;
    margin-top: 50px
}
.form-form {
    margin-top: 100px;
    padding-bottom: 100px;
}
.one-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #E37090;
    border-radius: 50px;
    margin-bottom: 10px;
}
.two-box {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #D9043D;
    border-radius: 50px;
    margin-bottom: 10px;
}
.three-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #1BC0C9;
    border-radius: 50px;
    margin-bottom: 10px;
}
.fa-check {
    color: white;
}
.little-wraper {
    width: 55px;
}
.tall-wraper {
    display: flex;
    width: 190px;
    justify-content: space-between;
    margin-top: 140px
}
.par {
  margin-left: 10px;
}
/*seqtion3*/
.big-box-wraper-one {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.big-box-wraper-two {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;
}
.big-box-wraper-three {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.seqtion-box {
    background-color: white;
}
.pushtoy {
     border: 1px  solid red;
}
.naruto {
     border: 1px  solid red;
}
.barbie {
    border: 1px  solid red;
}
.train {
    border: 1px  solid red;
}
.dress {
    border: 1px  solid red;
}
.cat {
    border: 1px  solid red;
}
.Misa {
     border: 1px  solid red;
}
.Dog {
    border: 1px  solid red;
}
.ItachiUchiha {
     border: 1px  solid red;
}
.more-box-one {
    position: relative;
    background-color: #D95F80;
    width: 168px;
    height: 54px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
     margin-top: 85px;
    margin-left: 460px;
}
.icon {
     width: 53px;
    height: 53px;
    background-color: #1BC0C9;
    border-radius: 50px;
}
/*footer*/
footer {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.four-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 85px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    background-color:#D95F80 ;
    border-radius: 50px;
    margin-bottom: 10px;
}
.fa-hands-helping {
    font-size: 30px;
    color: white;
}
.fa-clipboard-list {
    font-size: 30px;
    color: white;
}
.fa-money-check {
    font-size: 30px;
    color: white;
}
.fa-map-marker-alt {
    font-size: 30px;
    color: white;
}
.divaider {
    display: flex;
}
.margin {
   margin-left: 10px;
    margin-top: 20px;
}
.last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
hr {
    margin-bottom: 50px;
}
.fa-facebook-square {
    font-size: 30px;
    color: #D95F80;
}
.fa-instagram-square {
    font-size: 30px;
    color: #D95F80;
}
.fa-twitter-square {
    font-size: 30px;
    color: #D95F80;
}
.three-icon {
    width: 194px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 850px;
}

/*all.html*/
.all-img {
    width: 260px;
}
.red-all {
    background-color: red;
    border-radius: 79px;
    width: 126px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.p-all {
    font-size: 30px;
    width: 57px;
}
.all-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-right: 92px;
    padding-left: 92px;
}
.all-h1 {
    font-size: 70px;
}
/*seqtion2*/
.seqtion-all {
    background-image: url('../image/building.jpg ');
    width: 100%;
    height: 538px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 165px;
    margin-bottom: 50px;
}
.seqtion-beach {
    background-image: url('../image/beach.jpg ');
    width: 100%;
    height: 538px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 165px;
    margin-bottom: 50px;
}
/*seqtion3*/
.beach-div {
     display: flex;
    align-items: center;
    justify-content: space-around;
}
.all-box-one {
    position: relative;
    background-color: #D95F80;
    width: 168px;
    height: 54px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
form.all button {
  float: left;
  width: 474px;
  height: 60px;
  padding: 10px;
  background: #FAFAFA;
  color:  #D95F80;
  font-size: 17px;
  border: 1px solid #D95F80;
}
   
    /*boys.html*/

.boys-wraper {

}
.boys-div {
    display: flex;
    padding-bottom: 127px;
    justify-content: space-between;
}
.boys-form {
    padding-top: 35px;
    padding-left: 78px;
}
.boys-child {
    margin-top: 18px;
    margin-bottom: 63px;
}
.boys-box-one {
     position: relative;
    background-color: #D95F80;
    width: 260px;
    height: 66px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fa-angle-down {
    font-size: 30px;
}
.boys-h3 {
    font-size: 30px;
}

/*seqtion3*/
.bigest-wraper-boys {
    display: flex;
    justify-content: space-between;
}
.bigest-box-boys {
    position: relative;
    background-color: #D95F80;
    width: 92px;
    height: 67px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.number-box {
    width: 352px;
    display: flex;
    justify-content: space-between;
}
.number-child {
    width: 70px;
    height: 70px;
    background-color: #D95F80;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.boys-input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #D95F80;
    float: left;
    width: 318px;
    height: 60px;
    background: #FAFAFA;
}

/*contact.html*/
.contact-wraper {
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
}
.search-con {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Con-h1 {
    font-size: 70px;
    margin-bottom: 63px;
}
.con-p {
    font-size: 30px;
}
form.contact input[type=text] {
  border: 1px solid #D95F80;
  width:444px;
  height: 70px;
  margin-bottom: 35px;
  background-color: #f8f8f8;
  border-radius: 15px;
  margin-top: 18px;
}
textarea.con-text {
    width: 444px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #D95F80;
    border-radius: 15px;
    background-color: #f8f8f8;
    font-size: 15px;
    resize: none;
}
form.contact label {
  font-size: 20px;
  resize: none;
  margin-left: 15px;

}
button.con-button {;
    border: 1px solid #D95F80;
    width: 222px;
    height: 70px;
    margin-top: 60px;
    margin-left: 112px;
    font-size: 20px;
    border-radius: 15px;
}

/*toys.html*/
.toyy {
    padding-top: 48px;
    padding-bottom: 56px;
}
